.hidden {
  visibility: hidden;
}

.mainavDiv {
  min-width: 200px;
  border-bottom: lightgray solid 3px;
  margin-top: 0;
  padding: 4px 5px 9px 5px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 5;
}

.navUl {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  padding: 0px 1px 0px 1px;
  margin-bottom: 4px;
  margin-top: 0;
}

.homeButton {
  list-style: none;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  color: orangered;
  margin-left: 10px;
}

.homeButtonLi {
  list-style: none;

}

.navLi {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 0;
}

.log-links {
  list-style: none;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  color: black;
  font-weight: 600;
  background-color: white;
  border: none;
}

.sessionUL {
  list-style: none;
}

.user-button-container {
  display: flex;
  flex-direction: row;
}

.user-button {
  margin: auto;
}
