.form-container {
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-sub-container {
  width: 15vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.meet-icon {
  width: 2.5vw;
  height: 4vh;
}

.login-header > * {
  margin: 10px auto;
  padding: 0;
}

.login-header>h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.sign-up-ref {
  background: none;
  border: none;
  color: rgb(0, 130, 148);
  padding: 0 5px;
  font-size: 1rem;
}

.sign-up-ref:hover {
  cursor: pointer;
  background: none;
  border: none;
}

.login-labels {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 500;
}

.login-inputs {
  width: 100%;
  height: 2.5vh;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid rgb(128, 128, 128, 0.4);
}

.login-inputs:hover {
  outline: 1px solid rgb(128, 128, 128, 0.8);
  transition-duration: .15s;
}

.login-inputs:focus {
  outline: 1px solid rgb(128, 128, 128, 0.8);
  transition-duration: .15s;
}

.login-btns-container {
  height: 8.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.login-btns {
  width: 100%;
  height: 3.7vh;
  border-radius: 5px;
  border: none;
  background: #e32359;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.login-btns:hover {
  cursor: pointer;
  background: rgb(227, 35, 89, 0.8);
}
